@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

body {
    background-image: url('bg.jpg');
    background-size: 100%;
}

.content {
    height: 458px;
    width: 100%;
}

.widget, .btn-info {
    border-radius: 10px !important;
    border: 3px solid #00ADD4 !important;
    background-color: rgba(0, 173, 212, .5) !important;
    color: white !important;
    padding: 15px;
    margin: 15px;
}

a {
    color: inherit !important;
}
/* layout.html */

#logo > h4 {
    font-family: "Orbitron", sans-serif;
    font-size: 35px;
    margin-bottom: -5px;
}

#logo > p {
    font-style: italic;
    font-size: 18px;
}

#nav-bar {
    position: fixed;
    bottom: 0px;
}

.nav-link {
    width: fit-content;
    font-size: 20px;
}

/* home.html */

#running-low-widget {
    height: 50%;
}

#running-low-widget > div {
    height: 80%;
}

/* alarm-page.html, profile-page.html */

#alarm-list-cont, #profile-list-cont, #meds-list-cont {
    overflow-y: scroll;
}

#alarm-list-cont > .widget,
#profile-list-cont > .widget {
    width: 100%;
    font-size: 18px;
}

/* profile-form.html, med-form.html */

#profile-settings-form, #med-settings-form {
    margin-bottom: 100px !important;
}

#submit-btn, .form-input {
    color: #005162 !important;
    border-radius: 10px !important;
    border: 1.5px solid !important;
}

label {
    font-size: 1.5rem !important;
}

hr {
    border-radius: 10px;
    border: 2px solid white !important;
    width: 85%;
    margin: 1rem auto !important;
}

#profile-form-header, #med-form-header {
    color: #006B81;
}

#name-input {
    font-size: calc(1.25rem + 1.5vw) !important;
    font-weight: 300 !important;
}

.radio-cont > input {
    accent-color: #006B81;
}

#contact-relation-other-input-lbl {
    text-align: right;
}

/* med-page.html */

h2 > span {
    font-size: 70%;
}

.input-group {
    width: inherit !important;
}