{%extends "layout.html"%}

<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

{%block body%}
<div class='content d-flex justify-content-center'>
    <div id='meds-list-cont' class='d-flex flex-column align-items-stretch' style='width:75%;'>

        <div class='d-flex justify-content-center align-items-stretch mt-4'>
            <form id='profile-input-form' class='input-group widget my-0 col-6' action='{{url_for("meds_page")}}', method='POST'>
                <i class='bi-heart-pulse me-3' style='font-size:45px;'></i>
                <select id='profile-input' name='profile_id' class='form-input lead'>
                    {%for profile in profiles%}
                        {%if sel_profile == profile.id%}
                            <option value={{profile.id}} selected>{{profile.name}}</option>
                        {%else%}
                            <option value={{profile.id}}>{{profile.name}}</option>
                        {%endif%}
                    {%endfor%}
                </select>
            </form>
            <a href='{{url_for("new_medication")}}' class='btn btn-lg btn-info text-light my-0 col-4 align-content-center'><i class='bi-plus-lg'></i> New Medication</a>
        </div>

        {%if meds%}
            {%for med in meds%}
            {%if med == meds[0]%}
            <div class='widget d-flex justify-content-between align-items-center ms-0 me-0 mt-3 mb-3'>
            {%else%}
            <div class='widget d-flex justify-content-between align-items-center ms-0 me-0 mt-2 mb-3'>
            {%endif%}
                <div class='d-flex justify-content-between align-items-center'>
                    <i class='bi-prescription ms-4 me-4' style='font-size:60px;'></i>
                    <div class='d-flex flex-column align-items-left'>
                        <h2>{{med.name}}<span>, {{med.dose}}</span></h2>
                    </div>
                </div>
                <div class='d-flex align-items-center'>
                    <div class='d-flex flex-column align-items-center me-5'>
                        {%for time in schedules[med.id]%}
                        <p class='m-0'>{{time}}</p>
                        {%endfor%}
                    </div>
                    <i class='bi-three-dots-vertical' style='font-size:40px;'></i>
                </div>
            </div>
            {%endfor%}
        {%else%}
            <div class='widget d-flex justify-content-center align-items-center ms-0 me-0 mt-3 mb-3'>
                <p class='lead my-1'>Tap "New Medication" to log a medication</p>
            </div>
        {%endif%}

    </div>
</div>

<script>
    $('#profile-input').on('change', function(){
        $('#profile-input-form').submit();
    });
</script>
{%endblock%}